<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestion</title>
    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <h1>Bienvenido</h1>
    <a class="btn btn-info" th:href="@{/showCompra}">Gestionar Compras</a>
    <a class="btn btn-info" th:href="@{/showEvento}">Gestionar Eventos</a>
    <a class="btn btn-info" th:href="@{/showEvento_Boleteria}">Gestionar Boleteria</a>
    <a class="btn btn-info" th:href="@{/showUsuario}">Gestionar Usuarios</a>
</div>
</body>
</html>