<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recibo</title>

    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="general/utils/navbar :: navbar"></div>
<div class="container">
    <br>
    <div>
        <h2>¡Compra Realizada!</h2>
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Datos de la Compra</h5>
                <p class="card-text">Evento: <span th:text="${compra.evento.nombre}"></span></p>
                <p class="card-text">Descripcion: <span th:text="${compra.evento.descripcion}"></span></p>
                <p class="card-text">Lugar: <span th:text="${compra.evento.lugar}"></span></p>
                <p class="card-text">Fecha: <span th:text="${compra.evento.fecha}"></span></p>
                <p class="card-text">Cantidad: <span th:text="${compra.cantidad}"></span></p>
                <p class="card-text">A nombre de: <span sec:authentication="principal.fullName"></span></p>
                <p class="card-text">Total: <span th:text="'$' + ${compra.precio_total}"></span></p>
                <p class="card-text">Fecha de Compra: <span th:text="${compra.fecha_compra}"></span></p>
                <a class="btn btn-success" th:href="@{/indexCliente}">Regresar</a>
            </div>
        </div>
    </div>
    <br>
</div>
</body>
</html>