<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Login System</title>
    <!-- Bootstrap CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <!-- Custom CSS -->
    <link href="../../static/css/singup-styles.css" rel="stylesheet" th:href="@{/css/login-style.css}">
</head>
<body>
<header>
    <h2><a class="navbar-brand display-3" th:href="@{/}">EventosTicket</a></h2>
</header>
<br /><br />
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Email o Contraseña Incorrectos</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success"> Sesión Cerrada.</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Login - EventosTicket</h2>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/login}"
                            class="form-horizontal"
                    >
                        <div class="form-group mb-3">
                            <label for="email" class="control-label"> Email</label>
                            <input
                                    type="text"
                                    id="email"
                                    name="email"
                                    class="form-control"
                                    placeholder="Ingresa tu dirección de email"
                            />
                        </div>

                        <div class="form-group mb-3">
                            <label for="password" class="control-label"> Contraseña</label>
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Ingresa Contraseña"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" >Iniciar Sesión</button>
                            <span> ¿Sin registrar?
                                <a th:href="@{/register}">Crea tu cuenta aquí</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>Creado por: Paola Fernanda Ramírez Rauda, Cesia Aracely Raymundo Peraza, José Rolando Álvarez Mejía, Diego Enrique Canjura Estrada, Rodrigo Andrés López Orellana y Edgar Fernando López Zabaleta.</p>
</footer>
</body>
</html>