/* styles.css */

/* Estilo global */
body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f5f5f5; /* Fondo claro */
    color: #333; /* Texto oscuro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* Header */
header {
    background-color: #4a90e2; /* Azul suave */
    color: #fff;
    width: 100%;
    text-align: center;
}

header h2 {
    margin: 0;
    padding: 10px;
}

/* Encabezado principal */
h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    text-align: center;
    font-weight: bold; /* Negrita */
}

/* Párrafo */
p {
    font-size: 1.25rem;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal; /* Normal para un look minimalista */
}

/* Botones */
.btn {
    font-size: 1rem; /* Ajustar tamaño de fuente para un look más limpio */
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #27ae60; /* Verde claro */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: inline-block;
}

.btn:hover {
    background-color: #2ecc71; /* Verde más claro al pasar el mouse */
    color: #fff;
}

/* Contenedor */
.container {
    background-color: #ffffff; /* Blanco para el contenedor */
    padding: 20px; /* Espacio interior */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Contenido principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; /* Espacio interior */
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #4a90e2; /* Azul suave */
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 20px; /* Espacio superior */
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.footer-content,
.footer-links,
.footer-social {
    margin: 10px 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social a {
    margin-right: 10px;
}

.footer-social img {
    width: 24px;
    height: 24px;
}



/* Contenedor del mensaje de error */
.error-message {
    color: #D8000C; /* Rojo intenso */
    background-color: #FFBABA; /* Fondo rosa claro */
    border: 1px solid #D8000C; /* Borde rojo */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    margin-top: 5px; /* Espacio sobre el mensaje */
    font-size: 0.9em; /* Tamaño de fuente ligeramente más pequeño */
    max-width: 400px; /* Limitar el ancho del mensaje */
}

/* Resaltar el campo del formulario con errores */
input.error, select.error, textarea.error {
    border: 2px solid #D8000C; /* Borde rojo intenso */
    background-color: #FFEBEB; /* Fondo rosado claro */
}

/* Etiqueta de error junto al campo */
label.error {
    color: #D8000C; /* Color rojo para la etiqueta de error */
    font-size: 0.85em; /* Tamaño de fuente más pequeño */
    margin-top: 5px;
    display: block; /* Mostrar la etiqueta debajo del campo */
}
