<div th:fragment="footer">
<footer>
    <div class="footer-content">
        <h4>Contacto</h4>
        <p>Email: contacto@tuempresa.com</p>
        <p>Teléfono: (123) 456-7890</p>
    </div>
    <div class="footer-links">
        <h4>Enlaces Útiles</h4>
        <ul>
            <li><a href="#">Términos de Servicio</a></li>
            <li><a href="#">Política de Privacidad</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
        </ul>
    </div>
    <div class="footer-social">
        <h4>Síguenos</h4>
        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
        <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
</footer>
</div>