<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compras</title>

    <!-- Bootstrap CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <a class="btn btn-primary btn-lg" th:href="@{/showCompra}">Regresar a index de compras</a>
</div>

<div class="container">
    <h2>Agregar Compra</h2>
    <form action="#" th:action="@{/saveCompra}" th:object="${compra}"
          method="post">
        <input type="hidden" th:field="*{id}" name="id" id="id">
        <div class="form-group">
            <label for="evento">Nombre del Evento:</label>
            <select class="form-control" id="evento" name="evento" th:field="*{evento}">
                <option th:each="evento : ${eventos}" th:value="${evento.id}" th:text="${evento.nombre}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="usuario">Usuario:</label>
            <select class="form-control" id="usuario" name="usuario" th:field="*{usuario}">
                <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.email}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input type="number" class="form-control"  id="cantidad" name="cantidad" th:field="*{cantidad}">
        </div>
        <div class="form-group">
            <label for="precio_total">Precio Total:</label>
            <input type="number" class="form-control"  step="0.01" id="precio_total" name="precio_total" th:field="*{precio_total}">
        </div>
        <div class="form-group">
            <label for="fecha_compra">Fecha de Compra:</label>
            <input type="date" class="form-control" id="fecha_compra" name="fecha_compra" th:field="*{fecha_compra}">
        </div>
        <button type="submit"  class="btn btn-success">Guardar</button>
    </form>
</div>
</body>
</html>