<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Usuarios</title>

    <!-- Bootstrap CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <br>
    <h2 th:if="${list.isEmpty()}">
        No hay Usuarios</h2>
    <div th:if="${!list.isEmpty()}">
        <h2>
            Mantenimiento de Usuarios</h2>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Dirección</th>
                <th>Telefono</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario : ${list}">
                <td th:text="${usuario.getNombre()}">
                <td th:text="${usuario.getApellido()}">
                <td th:text="${usuario.getEmail()}">
                <td th:text="${usuario.getPassword()}">
                <td th:text="${usuario.getDireccion()}">
                <td th:text="${usuario.getTelefono()}">
                <td th:text="${usuario.getRol().getNombre()}">
                <td><a class="btn btn-info" th:href="@{/saveUsuario/{id}(id=${usuario.id})}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{/deleteUsuario/{id}(id=${usuario.id})}">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <a href="/saveUsuario/0" class="btn btn-primary">Agregar</a>
    </div>
</div>
</body>
</html>