<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>

    <!-- Bootstrap CSS -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <a class="btn btn-primary btn-lg" th:href="@{/showUsuario}">Regresar a menú de usuarios</a>
</div>

<div class="container">
    <br>
    <h2>Agregar Usuario</h2>
    <form action="#" th:action="@{/saveUsuario}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}" name="id" id="id">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}">
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" name="direccion" th:field="*{direccion}">
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{telefono}">
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
</body>
</html>
