/* Estilos para las tarjetas */
.card {
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: #4a90e2;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones */
.btn {
    font-size: 1rem;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s; /* Añadida transformación */
    display: inline-block;
}

.btn:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}

/* Estilos para el footer */
footer {
    margin-top: 5px;
    background-color: #4a90e2;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

footer a{
    color: white;
}

body{
    font-family: 'Trebuchet MS', sans-serif;
}